@font-face {
    font-family: "Mon Amour";
    src: local("Mon Amour"),
         url("../fonts/mon-amour.woff2") format("woff2"),
         url("../fonts/mon-amour.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bickham Script Three";
    src: local("Mon Amour"),
         url("../fonts/bickham-script-three.woff2") format("woff2"),
         url("../fonts/bickham-script-three.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ekaterina";
    src: local("Mon Amour"),
         url("../fonts/ekaterina-velikaya-two.woff2") format("woff2"),
         url("../fonts/ekaterina-velikaya-two.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vena";
    src: local("Mon Amour"),
         url("../fonts/vena.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .3; } 
	100% { opacity: 1; }
}

:root {
    --dark-brown: #774727;
    --light-brown: #b7635c;
    --wet-asphalt: #828282;
    --gray: #eeeeee;
}

html {
    width: 100%;
}

body {
    font-family: "Mon Amour", "Arial", serif;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;    
}

.hint {
    padding-right: 40px;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    animation: flash linear 1s infinite;
}

.hint-icon {
    position: relative;
}

.hint-icon::after {
    position: absolute;
    top: 12px;
    right: -40px;
    display: block;
    width: 32px;
    height: 32px;
    content: url('../img/image-click.svg');
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 600px;
    height: 870px;
}

.card:hover {
    cursor: pointer;
}

.front,
.back {
    background-color: rgb(249, 234, 238);
    box-shadow: 0 0 1px 1px #eee;
    position: relative;
}

.front-name-bride,
.front-name-ampersand,
.front-name-groom {
    position: absolute;
    width: 200px;
    font-family: "Bickham Script Three";
    font-size: 70px;
    text-align: right;
    color: var(--dark-brown);
}

.front-name-bride {
    top: 190px;
    left: 190px;
}

.front-name-ampersand {
    top: 220px;
    left: 215px;
}

.front-name-groom {
    top: 275px;
    left: 155px;
}

.front-date {
    position: absolute;
    top: 410px;
    left: 179px;
    width: 200px;
    font-family: "Vena";
    font-size: 30px;
    color: var(--light-brown);
}

.front-footer {
    position: relative;
    height: 120px;
}

.front-footer-text {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    margin: 0;
    font-family: "Ekaterina";
    font-size: 40px;
    text-align: center;
    color: var(--wet-asphalt);
    transform: translateX(-50%);
}

.back::before {
    position: absolute;
    top: 75px;
    left: 75px;
    display: block;
    width: 450px;
    height: 720px;
    background-color: rgba(255, 255, 255, 0.9);
    content: '';
}

.back-header {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 350px;
    font-size: 45px;
    text-align: center;
    line-height: 65px;
    color: var(--light-brown);
    transform: translateX(-50%);
}

.text-1,
.text-2,
.text-3 {
    position: absolute;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: var(--dark-brown);
}

.text-1 {
    top: 290px;
    left: 100px;
    width: 400px;
}

.text-2 {
    top: 490px;
    left: 120px;
    width: 360px;
}

.text-3 {
    top: 570px;
    left: 115px;
    width: 380px;
}

.back-footer {
    position: absolute;
    top: 710px;
    left: 50%;
    transform: translateX(-50%);
}

.back-footer-text {
    font-size: 20px;
    color: var(--dark-brown);
}

@media (max-width: 600px) {
    .card {
        transform: scale(0.75);
        transform-origin: center top;
    }

    .hint {
        font-size: 18px;
    }

    .hint-icon::after {
        top: 10px;
    }
}

@media (max-width: 450px) {
    .card {
        transform: scale(0.5);
    }

    .hint {
        font-size: 16px;
    }

    .hint-icon::after {
        top: 7px;
    }
}